.component-padding {
  padding: 80px 80px 80px 100px;
}
.contact-helpus-heading{
  width: 50%;
}
.contact-accordian{
  width: 60%;
}
.contact-image{
  width: 40%;
}
@media (max-width: 992px) {
  .component-padding {
    padding: 60px 60px 60px 100px;
  }
}
@media (max-width: 768px) {
  .component-padding {
    padding: 20px;
  }
  .contact-bottom{
    flex-direction: column;
  }
  .contact-accordian{
    width: 100%;
  }
  .contact-image{
    width: 100%;
  }
  .contact-helpus-heading{
    width: 100%;
  }
}
